<!DOCTYPE html>
<html>
<head>
	<title>Simplyclub</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
	<style>
		body{background-image: url("https://images.unsplash.com/photo-1499678329028-101435549a4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
			 background-repeat: no-repeat;
			 background-size: cover;
			 background-position: center;
			}
	</style>

</head>
                              
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container ml-auto">
			<div class="navbar-brand" >SIMPLYCLUB</div>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item ">
						<a href="/signin/" class="btn btn-danger" style="margin-right: 10px">SIGNIN</a>
						<a href="/signup" class="btn btn-danger" style="margin-right: 10px">SIGNUP</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
<br>
{% block body %}
{% endblock %}
</body>
</html>